
/*input[type="file"] {*/
/*    display: none;*/
/*}*/

body{
    padding: 0;
    margin: 0;
    background-color: #e8e0f1;
}

nav{
    padding: 0;
    margin: 0;
    width: 100%;
    background: white;
    border-radius: 5px;
    display: block;
    position: absolute;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.18);
}

.buttons_ul{
    width: 450px;
    padding: 0;
    margin: 0 auto;
}

.button_li{
    font-weight: bold;
    font-size: 18px;
    color: white;
    float: left;
    margin: 2px 2px;
    padding: 10px;
    line-height: 20px;
    height: 20px;
    background: #bb85d0;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    display: block;
    transition: 600ms;
}

.button_li:hover{
    background: #cc6eaf;
    /*box-shadow: 2px 2px 10px rgba(0,0,0, 0.4);*/
}

li a {
    text-decoration: none;
    color: white;
}
.main_block{
    /*background: #e2beff;*/
    background: white;
    width: 70%;
    margin: 50px auto;
    border-radius: 5px;
    overflow: hidden;
    /*border: solid 1px grey;*/
    box-shadow: 2px 2px 10px rgba(0,0,0,0.18);
}


.tab{
    background-color: transparent;
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.tab th{
    height: 16px;
    border-radius: 2px;
}
.tab tr{
    background: white;
    color: #370049;
    border-radius: 2px;
    border-bottom: 2px solid #dac1ea;
}
.tab td{
    height: 16px;
    border-radius: 3px;
    color: #370049;
    padding: 16px;
}

