<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="css/styles.css" rel="stylesheet">
  <title>{{ .title }}</title>
</head>

<body>
<div>
  <form enctype="multipart/form-data" action="/" target="_blank" method="get">
    <div><input class="button" type="submit" value="Главная страница"></div>
  </form>
  <form enctype="multipart/form-data" action="/download_history" target="_blank" method="get">
    <div><input class="button" type="submit" value="История загрузок"></div>
  </form>
</div>
