{{ template "header.html" }}
<div class="main_form">
    <form enctype="multipart/form-data" action="{{ .redirect }}" target="_blank" method="get">
        <div><input class="button" type="submit" value="Скачать шаблон"></div>
    </form>
    <form enctype="multipart/form-data" method="post">
        <label for="file-upload" class="button">
            <p>Выбрать файл</p>
        </label>
        <input id="file-upload" type="file" name="excel_file"/>
        <div><input class="button" type="submit" value="Отправить"></div>
    </form>
</div>
{{ template "footer.html" }}